atari-py==0.2.6
ConfigSpace==0.4.21
Cython
dask==2.30.0
GPy==1.10.0
gpytorch==1.6.0
gym==0.17
hpbandster==0.7.4
matplotlib==3.5.1
mujoco-py==2.1.2.14
networkx
notebook
numpy==1.22.2
optuna==3.0.5
pandas==1.4.1
protobuf==3.19.4
psutil==5.9.0
pynisher==0.6.4
pyrfr==0.8.2
ray==1.12.1
redis
scikit-learn==1.0.2
scipy==1.8.0
smac==1.2
stable-baselines3==1.4.0
tabulate==0.8.9
torch==1.9.0
torchaudio==0.9.0
torchvision==0.10.0
typing_extensions==4.1.0
